body{
    background-color: #808080;
}
body{
    font-family: cursive;
}

.ajustes_titulo{
    color: black;
    font-size: 200%;
    text-align: center;
    padding: 30px;
    background-color: #F47920;
    width: 95%;
}

.ajustes_Pie_pagina{
    padding: 20px;
    background-color: #50B748;
    width: 100%;
}
.tipoletra_tamaño{
    color: black;
    font-size: 150%;
}

.aliniación_texto{
    text-align: center;
}
.menu_estilo{
    padding: 30px;
    background-color:  #50B748;
    width: 95%;
    text-align: center;
    float: left;
    list-style: none;
}

.estilo_tabla{
    width: 80%;
    margin: 50px;
}