body{
    
    background-color:white;
}
body{
    font-family: cursive;
}

.ajustes_titulo{
    color: black;
    font-size: 200%;
    text-align: center;
    padding: 25px;
    background-color: #F47920;
    width: 98%;
}

.ajustes_Pie_pagina{
    padding: 15px;
    background-color: #50B748;
    width: 97%;
    text-align: right;
}
.tipoletra_tamaño{
    color: black;
    font-size: 150%;
}

.ajustes_texto{
    border: mediumaquamarine;
    margin: 20px;
}
.menu_estilo{
    padding: 30px;
    background-color:  #50B748;
    width: 95%;
    text-align: center;
    float: left;
    list-style: none;
}

.estilo_tabla{
    width: 80%;
    margin: 50px;
}

* {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  .wrapper {
    min-height: calc(100% - 4rem);
  }
  .footer {
    height: 4rem;
    background-color: black
}



  
  