body{
    font-family: cursive;
}

.ajustes_titulo{
    color: black;
    font-size: 200%;
    text-align: center;
    padding: 30px;
    background-color: #A54686;    ;
    width: 95%;
}
.tipoletra_tamaño{
    color: black;
    font-size: 150%;
}

.aliniación_texto{
    text-align: center;
}
.menu_estilo{
    padding: 30px;
    background-color:  #50B748;
    width: 95%;
    text-align: center;
}

.estilo_tabla{
    width: 80%;
    margin: 50px;
}